
.center {
    margin: auto;
    width: 960px;
    padding: 10px;
}

#contents {
background: #ffffff;
height: auto;
margin: 55px 0px 0px 0px;
border: solid 1px #dddddd
}

#header1 {
    background: #ffffff; 
    position:fixed;
    top: 0;
    width:100%;
    padding: 26px;
    border-bottom: solid 1px #cccccc;
}

#header {
    background: #ffffff; 
    position:fixed;
    top: 0;
    width:100%;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 100%; 
    background: cornflowerblue url(../images/gaming-pattern.png);
  }

 h1, h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 20px;
    clear: both;
  }
  
h2 {
    padding: 45px 20px 50px;
}

#line-between {
    width: 920px;
    margin: 20px;
    align: center;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #cccccc;
}

  nav {
    padding: 20px;
    font-size: 20px;
    color: #777777;
    float: right;
    margin: 0px 555px;
  }

  h1 {  
    padding: 20px;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    float: left;
  }

  h2 {
    font-size: 24px;
    color: #4aaaa5;
    clear: both;
  }

  p {
    line-height: 27px;
    font-size: 18px;
    padding-top: 20px;
  }

  form {
      margin: 20px;
  }
  
  footer {
    background: #666666;
    color: #ffffff;
    text-align: center;
    padding: 15px; 
    position:fixed;
    bottom:0;
    width:100%;
    border-top: solid 6px #4aaaa5;
  }
  
  #bio-image {
    height: 200px;
    padding: 20px;
    float: left;
  }

  .textbox {
      width: 920px;
  }

  .messagebox {
    width: 920px;
     height: 250px;
  }

  .submitbutton {
    background: #4aaaa5;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .portfolio-thumbs {
    height: 200px;
    width: 200px;
    background-color: #4aaaa5;
    text-align: center;
    margin: 20px;
  }
  
.clear {
    clear: both;
    margin: -48px 240px;
    height: 200px;
    width: 200px;
    background-color: #4aaaa5;
    text-align: center;
}

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
